{% extends 'base.html' %}
{% block content %}
{% if object %}
  <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
<!-- 
  <form action="{% url 'add_photo' finch.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn">Upload Photo</button>
  </form> -->
{% else %}
  <h1>Add a Restaurant</h1>
{% endif %} 


<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="POST">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
  </table>

<input type="submit" value="Submit!" class="btn">
</form>
{% endblock %}