{% extends 'base.html' %}

{% block content %}
  <h2>List of Restaurants</h2>
  
  {% for restaurant in object_list %}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <a href="{% url 'detail' restaurant.id %}">
        <div class="card-content">
          <span class="card-title">{{ restaurant.name }}</span>
          <p>About: {{ restaurant.description }}</p>   
      </a>
    </div>
  </div>      
  {% endfor %}

{% endblock %}