{% extends 'base.html' %}

{% block content %}
<h2 id="title">List of Restaurants</h2>
<div class="grid restaurant-list-div">
  
  {% for restaurant in object_list %}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <a href="{% url 'detail' restaurant.id %}">
        <div class="card-content">
          <span class="restaurant-title">{{ restaurant.name }}</span>
          <p>{{ restaurant.description }}</p>
          <div class="category flex-row">
            <p>{{restaurant.category}}</p></div>   
        </div>
      </a>
    </div>
  </div>      
  {% endfor %}
</div>
{% endblock %}