{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="image-wrapper">
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/gluten-free.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/vegan.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/vegetarian.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/Keto.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/Paleo.jpg' %}">
    </a>
    </div>

{% endblock %}    