{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="image-wrapper">
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/gluten-free.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/vegan.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/vegetarian.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/Keto.jpg' %}">
    </a>
    
    <a class="circle-container" href="/restaurants/">
        <img src="{% static '/media/Paleo.jpg' %}">
    </a>
    </div>

<input type="input" class="form__field" placeholder="Search" name="name" id='map-input' required />
<div style="display: none">
    <input
    id="pac-input"
    class="controls"
    type="text"
    placeholder="Enter a location"
    />
</div>
<div id="map"></div>
<div id="infowindow-content">
    <span id="place-name" class="title"></span><br />
    <!-- <span id="place-id"></span><br /> -->
    <span id="place-address"></span>
</div>
<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 34.0522, lng: -118.2437},
            zoom: 14
        });
        
        const input = document.getElementById("map-input");
        // Specify just the place data fields that you need.
        const autocomplete = new google.maps.places.Autocomplete(input, {
            fields: ["place_id", "geometry", "formatted_address", "name"],
        });

        autocomplete.bindTo("bounds", map);
        
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        const infowindow = new google.maps.InfoWindow();
        const infowindowContent = document.getElementById("infowindow-content");
        infowindow.setContent(infowindowContent);

        const marker = new google.maps.Marker({ map: map });
        marker.addListener("click", () => {
        infowindow.open(map, marker);
        });
        
        autocomplete.addListener("place_changed", () => {
        infowindow.close();

        const place = autocomplete.getPlace();
        if (!place.geometry || !place.geometry.location) {
            return;
        } if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }

        // Set the position of the marker using the place ID and location.
        // @ts-ignore This should be in @typings/googlemaps.
        marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location,
        });
        marker.setVisible(true);
        infowindowContent.children.namedItem("place-name").textContent = place.name;
        // infowindowContent.children.namedItem("place-id").textContent =
        //     place.place_id;
        infowindowContent.children.namedItem("place-address").textContent =
            place.formatted_address;
        infowindow.open(map, marker);
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap);
</script>

{% endblock %}    