{% extends 'base.html' %}
{% block content %}

<div>
</div>
<div class="flex-row detail-row">
  <div class="flex-col restaurant-info">
    <h2>{{ restaurant.name }}</h2>
    <a class="add-review-btn" href="{% url 'review_create' %}">Add Review</a>
    <a href="{% url 'add_favorite' restaurant.id %}" class="add-favorite-btn">Add to Favorite</a>
    <div class="flex-row">
    </div>
  </div>
  <div class="flex-col">
    <div class="restaurant-description">
      <h4 class="res-detail-category">{{ restaurant.category }}</h4>
      <p>{{ restaurant.description }}</p>
    </div>
    <div class="restaurant-reviews">
      <h2>Reviews</h2>
      {% for review in reviews.all %}
      <div class="restaurant-review-box">
        <p id="user-review-name">{{ review.user }}</p>
        <p class="review-title">{{ review.title }}</p>
        <p>{{ review.description }}</p>
        {% if user == review.user %}
        <a class="delete-review-btn" href="{% url 'review_delete' review.id %}">Delete</a>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}