{% extends 'base.html' %}
{% block content %}

<!-- <h1>Restaurant Details</h1> -->

<div>
  <div class="image-header flex-row">
    <!-- <img class="restaurant-photos" src="https://images.pexels.com/photos/1351238/pexels-photo-1351238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
  </div>
</div>
<div class="flex-row detail-row">
  <div class="flex-col restaurant-info">
    <h2>{{ restaurant.name }}</h2>
    <a class="add-review-btn" href="{% url 'review_create' %}">Add Review</a>
    <div class="flex-row">
      <p>phone logo?</p>
      <p>phone number?</p>
    </div>
  </div>
  <div class="flex-col">
    <div class="restaurant-description">
      <h4 class="res-detail-category">{{ restaurant.category }}</h4>
      <p>{{ restaurant.description }}</p>
    </div>
    <div class="restaurant-reviews">
      <h2>Reviews</h2>
      {% for review in reviews.all %}
      <div class="restaurant-review-box">
        <p id="user-review-name">{{ review.user }}</p>
        <p class="review-title">{{ review.title }}</p>
        <p>{{ review.description }}</p>
        {% if user == review.user %}
        <a class="delete-review-btn" href="{% url 'review_delete' review.id %}">Delete</a>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}