{% extends 'base.html' %}
{% block content %}

<h1>Restaurant Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Description: {{ restaurant.description|linebreaks }}</p>
      </div>
    </div>
  </div>


  
<div class="container">
  <!--row 1-->
  <div class="row">
    <div class="col">
      <div class="card">
        <span class="card-content"> Restaurant Photo</span>
          <p>PHOTO</p>
        </div>
      </div>
    </div>

  <!--Row 2, Column 1-->
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="card">
          <span class="card-content"> Restaurant Name</span>
          <p>TEXT</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Phone Number</span>
          <p>NUMBERS</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Rating</span>
          <p>STARS</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Icons</span>
          <p>PHOTO</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Share</span>
          <p>BUTTON</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Add Review</span>
          <a href="{% url 'review_create' %}">Add Review for {{ restaurant.name }}</a>
        </div>
      </div>
    </div>
   
    <!-- Row 2, column 2-->
    <div class="col">
      <div class="row">
        <div class="card">
          <span class="card-content">Description</span>
            <p>TEXT</p>
          </div>
        </div>
      
        <div class="row">
        {% for review in reviews.all %}
        <div class="card">
            <span class="card-content">Reviews</span>
            <p>{{ review.title }}</p>
            <p>{{ review.description }}</p>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
</div>


{% endblock %}