{% extends 'base.html' %}
{% block content %}

<h1>Restaurant Details View Page</h1>

<div class="container">
  <!--row 1-->
  <div class="row">
    <div class="col">
      <div class="card">
        <span class="card-content"> Restaurant Photo</span>
          <p>PHOTO</p>
        </div>
      </div>
    </div>

  <!--Row 2, Column 1-->
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="card">
          <span class="card-content"> Restaurant Name</span>
          <p>TEXT</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Phone Number</span>
          <p>NUMBERS</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Rating</span>
          <p>STARS</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Icons</span>
          <p>PHOTO</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Share</span>
          <p>BUTTON</p>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <span class="card-content">Add Review</span>
          <p>BUTTON</p>
        </div>
      </div>
    </div>
   
    <!-- Row 2, column 2-->
    <div class="col">
      <div class="row">
        <div class="card">
          <span class="card-content">Description</span>
            <p>TEXT</p>
          </div>
        </div>
      
      <div class="row">
        <div class="card">
          <span class="card-content">Reviews</span>
            <p>TEXT</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}