{% extends 'base.html' %}

{% block content %}
{% load static %}

<h2 id="nourish-title">Nourish Homepage</h2>

<div id="image-wrapper">
<a class="circle-container" href="restaurants/">
    <img src="{% static '/media/gluten-free.jpg' %}">
</a>

<a class="circle-container" href="restaurants/">
    <img src="{% static '/media/vegan.jpg' %}">
</a>

<a class="circle-container" href="restaurants/">
    <img src="{% static '/media/vegetarian.jpg' %}">
</a>

<a class="circle-container" href="restaurants/">
    <img src="{% static '/media/Keto.jpg' %}">
</a>

<a class="circle-container" href="restaurants/">
    <img src="{% static '/media/Paleo.jpg' %}">
</a>
</div>

{% endblock %}