body {
  height: 100%;
  margin: 0;
}

footer * {
  color: black;
}

nav {
  box-shadow: none;
}


main {
  margin: 0 !important;
}

body.home{
  background: url(https://i.imgur.com/srD46Fo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-search {
  opacity: 1;
}

.custom-container {
  margin: 0 !important;
  align-items: center;
  justify-content: center;
}

.page-footer {
  background-color: white;
}

#nourish-title {
  color: white;
}

.circle-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
