.custom-container #image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vmin;
  gap: 2vmin;
  flex-wrap: wrap;
}

footer {
  margin-top: 40vmin;
}

header {
  background-color: rgba(180, 209, 156, 0.75);
  height: 20vmin;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar {
  display: flex;
}

.navbar a {
  margin: 0 1vmin 1vmin 3vmin;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  opacity: 0.4;
}

.card {
  background-color: rgb(53, 134, 150);
  margin: 2vmin;
  padding: 2vmin;
  border-radius: 30px;
  text-align: center;
}

.card:hover {
  opacity: 0.7;
}

.card * {
  text-decoration: none;
  color: white
}

.restaurant-title {
  font-size: 4vmin;
}

.image-header {
  background-color: rgba(245, 245, 220, 0);
  margin: 2vmin;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-wrap: wrap;
}

.detail-row {
  justify-content: space-evenly;
}

.restaurant-photos {
  width: 80vmin;
}

.add-review-btn, a {
  text-decoration: none;
  color: black
}

.add-review-btn {
  padding: 1vmin;
  border: 1px solid black;
}

.add-review-btn:hover {
  background-color: black;
  color: white
}

.restaurant-info {
  justify-content: flex-start;
}

.restaurant-description {
  margin: 2vmin;
}

.review-title,
.res-detail-category {
  text-transform: uppercase;
}

.restaurant-description * {
  max-width: 300px;
}

.restaurant-review-box {
  border: 1px solid black;
  margin: 2vmin 0;
  padding: 4vmin;
  max-width: 400px;
}

#user-review-name {
  font-weight: 800;
}

.delete-review-btn,
.res-detail-category {
  border: 1px solid black;
  padding: 1vmin;
}
.delete-review-btn:hover {
  background-color: black;
  color: white;
}

.restaurant-list-div,
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category,
#title {
  text-align: center;
}

.category * {
  border: 1px solid white;
  padding: 1vmin;
  max-width: fit-content;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
}

footer * {
  color: black;
}

nav {
  box-shadow: none;
}

main {
  margin: 0 !important;
}

body.home {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),  url(https://i.imgur.com/srD46Fo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.nav-logo {
  width: 50px;
}

.custom-container {
  margin: 0 !important;
  align-items: center;
  justify-content: center;
}

.page-footer {
  background-color: white;
}

#nourish-title {
  color: white;
}

.circle-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle-container img:hover {
  opacity: 0.8
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid darkgray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

/* Entry Home button */
:root{
  /* color type A */
  --line_color : #000000 ;
  --back_color : #FFECF6  ;
}

.button{
  position : relative ;
  z-index : 0 ;
  width : 240px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
  color: black;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover{
  letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.button:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}

.container{
  width : 100% ;
  height : 100px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
}