body {
  height: 100%;
  margin: 0;
}

footer * {
  color: black;
}

nav {
  box-shadow: none;
}


main {
  margin: 0 !important;
}

body.home {
  background: url(https://i.imgur.com/srD46Fo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;    
}

.custom-container #image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vmin;
  gap: 2vmin;
  flex-wrap: wrap;
}

.nav-logo {
  width: 50px;
}

.custom-container {
  margin: 0 !important;
  align-items: center;
  justify-content: center;
}

.page-footer {
  background-color: white;
}

#nourish-title {
  color: white;
}

.circle-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.circle-container img:hover {
  opacity: 0.8
}

footer {
  margin-top: 40vmin;
}

header {
  background-color: rgba(180, 209, 156, 0.75);
  height: 20vmin;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar {
  display: flex;
}

.navbar a {
  margin: 0 1vmin 1vmin 3vmin;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  opacity: 0.4;
}

.card {
  background-color: rgb(53, 134, 150);
  margin: 2vmin;
  padding: 2vmin;
  border-radius: 30px;
  text-align: center;
}

.card:hover {
  opacity: 0.7;
}

.card * {
  text-decoration: none;
  color: white
}

.restaurant-title {
  font-size: 4vmin;
}

.image-header {
  background-color: rgba(245, 245, 220, 0);
  margin: 2vmin;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-wrap: wrap;
}

.detail-row {
  justify-content: space-evenly;
}

.restaurant-photos {
  width: 80vmin;
}

.add-review-btn, a {
  text-decoration: none;
  color: black
}

.add-review-btn {
  padding: 1vmin;
  border: 1px solid black;
}

.add-review-btn:hover {
  background-color: black;
  color: white
}

.restaurant-info {
  justify-content: flex-start;
}



.restaurant-description {
  margin: 2vmin;
}

.review-title,
.res-detail-category {
  text-transform: uppercase;
}

.restaurant-description * {
  max-width: 300px;
}

.restaurant-review-box {
  border: 1px solid black;
  margin: 2vmin 0;
  padding: 4vmin;
  max-width: 400px;
}

#user-review-name {
  font-weight: 800;
}

.delete-review-btn,
.res-detail-category {
  border: 1px solid black;
  padding: 1vmin;
}
.delete-review-btn:hover {
  background-color: black;
  color: white;
}

/* restaurant list view */
.restaurant-list-div,
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category,
#title {
  text-align: center;
}

.category * {
  border: 1px solid white;
  padding: 1vmin;
  max-width: fit-content;
  text-align: center;
}

/* Sumi */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
}

footer * {
  color: black;
}

nav {
  box-shadow: none;
}

main {
  margin: 0 !important;
}

/* input[type=text] {
  border: 0;
  border-bottom: 1px solid black;
  padding: 10px;
  border: 0px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
} */

body.home {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),  url(https://i.imgur.com/srD46Fo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.nav-logo {
  width: 50px;
}

.custom-container {
  margin: 0 !important;
  align-items: center;
  justify-content: center;
}

.page-footer {
  background-color: white;
}

#nourish-title {
  color: white;
}

.circle-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* home input style */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid darkgray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
